<!doctype html>
<html>
   <body>
   
      <h2 style = "text-align: center;">Registration</h2>
		
      {% for message in form.username.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      
      
      <form action = "http://localhost:5000/registration" method = post>
         <fieldset>
            <legend>Registration</legend>
            {{ form.hidden_tag() }}
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.email.label }}<br>
               {{ form.email }}
               <br>
               {{ form.username.label }}<br>
               {{ form.username }}
               <br>
               {{ form.password.label }}<br>
               {{ form.password }}
               <br>
               {{ form.rpassword.label }}<br>
               {{ form.rpassword }}
               <br>

               {{ form.submit }}
            </div>
            
         </fieldset>
      </form>
      
   </body>
</html>