<!DOCTYPE html>
<html>
    <head>
        <title>kelj0-IRC</title>
        <meta charset="utf-8">
        <!-- Add this to <head> -->
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="../static/index.css" />
        <link
          type="text/css"
          rel="stylesheet"
          href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
        /> 
        <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
        <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

        <!--AXIOS-->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
        <!-------POPOUT MODAL------->
        <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                <div class="modal-header">
                    <slot name="header">
                    default header
                    </slot>
                </div>
                <div class="modal-body">
                    <slot name="body">
                    default body
                    </slot>
                </div>
                <div class="modal-footer">
                    <slot name="footer">
                    default footer
                    </slot>
                </div>
                </div>
            </div>
            </div>
        </transition>
        </script>

    <body>
        <div id="app">
                <modal v-if="showModal" @close="showModal = false">
                    <h3 slot="header">Enter your temporary username</h3>
                    <div slot="body">
                        <input type="text" id="guestName"><br>
                        <div v-if="error != 'false'">[[ error ]]</div>
                    </div>
                    <div slot="footer">
                        <button class="btn btn-danger" @click="newUser()">
                            Join
                        </button>
                    </div>
              </modal>
            <b-container>
                <b-row>
                    <!------Rooms------->
                    <b-col cols="2" id="rooms">
                        Rooms

                    </b-col>

                    <!------Chat------->
                    <b-col cols="8" id="chat">
                        Chat
                        <ul>
                            <li v-for="(data,index) in messages">
                                <p v-if="data.name==user" id="message_SELF">[[data.msg ]]</p>
                                <p v-else id="message_OTHER">[[data.name]]: [[ data.msg ]]</p>
                            </li>
                        </ul>
                        <input type="text" id="messageInput">
                        <button class="btn btn-warning" @click="sendMessage()">
                            Send
                        </button>
                    </b-col>

                    <!------Users------->
                    <b-col cols="2" id="users">
                        <div>Users</div>
                        <ul>
                            <li v-for="(data,index) in users" :key='index'>
                                <p id="userName">[[ data ]]</p>
                            </li>
                        </ul>

                    </b-col>
                </b-row>
            </b-container>
        </div>

        <script src="../static/index.js"></script>
    </body>
</html>