<!DOCTYPE html>
<html>
    <head>
        <title>kelj0-IRC</title>
        <meta charset="utf-8">
        <!-- Add this to <head> -->
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link
          type="text/css"
          rel="stylesheet"
          href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
        /> 
        <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
        <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    </head>
    <body>
        <div id="app">
            <b-button-group>
                <b-button v-on:click="test()">Button 1</b-button>
            </b-button-group>
        </div>



        <script src="../static/index.js"></script>
    </body>
</html>